# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Logs
logs/

# Cache
.cache/

# Environment Variables
.env

# OS Files
Thumbs.db
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
